<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true" use-expressions="false">
        <intercept-url pattern="/pages/mails.xhtml" access="ROLE_USER"/>
        <form-login login-page="/pages/login.xhtml"
                    default-target-url="/pages/login.xhtml"/>
        <logout logout-success-url="/pages/login.xhtml" />
    </http>


    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select username,password, enabled  from users where username=?"
                               authorities-by-username-query=
                                       "select username, role from users where username =?  " />
        </authentication-provider>
    </authentication-manager>

    <beans:import resource="spring-database.xml"/>

</beans:beans>