.command-panel {
    height: 100%;
    width: 100%;
}
.command-table {
    height: 50%;
    width: 100%;
}
.text-label{
    font-size: larger;
}
.text-column{
    width:30%;
}
.checkbox-column{
    width:5%;
}
.button-column{
    width:65%;
}
.progress-bar-div{
    margin-top:6%;

}
.my-progress-bar{

}