.reg-block-div{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(247, 244, 244, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 450px;
    width: 400px;
}
.reg-block-header{
    display: table;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.reg-block-header-div{
    background-color: #d9534f;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.reg-block-header-label{
    margin-top: 25%;
    color: white;
    font-size: 225%;
}
.reg-input-div{
    text-align: center;
    height: 51%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: none;
}