



.paginator {
    text-align: right;
}

.selected span {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.selected span :hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.paginator-btn {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.paginator-btn:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.paginator-dropdown {
    margin-right: 1%;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.paginator-dropdown:hover, .paginator-dropdown:active, .paginator-dropdown:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}