.command-panel {
    height: 30%;
    width: 100%;
}
.checkbox-div{
    display: table-cell;
    height:100%;
    width:50%;
}
.command-table {
    display: table;
    height: 50%;
    width: 100%;
    text-align: left;
    border: 2px solid #d9534f;
    border-top-width: 0px;
}
.search-panel-grid {

    border-width: 0;
    margin-left: 5%;
    width:50%;
    height: 100%;
    border-collapse: collapse;
}
.buttons-div {
    display: table-cell;
    width: 50%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
}
.buttons-panel-grid{
    width: 100%;
}