body {
    height: 1000px;
    text-align: center;
}
.wrapper{
    width:100%;
    height: 1000px;
    position:relative;
}
.content {
    min-width: 500px;
    min-height: 500px;
    height: 750px;
    width: 45%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgba(247, 244, 244, 0.75);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.mails-block-header{
    display: table;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.mails-block-header-div{
    background-color: #d9534f;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.mails-block-header-label{
    margin-top: 25%;
    color: white;
    font-size: 225%;
}
.command-panel {
    height: 100%;
    width: 100%;
}



.search-table {
    height: 15%;
    width: 100%;
    text-align: left;
    border: 2px solid #d9534f;
    border-top-width: 0px;
}



.grid-output-label {
    font-size: large;
}



.command-button {
    height: 40px;
    width: 80px;
}

.collapsible-panel-header {
    text-align: right;
    border: 2px solid #d9534f;
    width: 100%;
    height: 8%;
    display: table-cell;
    vertical-align: middle;
}

.collapsible-panel-img {
    margin-right: 1%;
}

.output-table {
    margin-top: 10%;
}

.messages-output-header {
    color: white;
    height: 45px;
    background-color: #d9534f;
    text-align: center;
}

.id-header {
    width: 20%;
}

.messages-output-table {
    border-color: #d9534f;
    border-collapse: collapse;
    height: 400px;
    margin-bottom: 0px;
}

.snippet-header {
    text-align: center;
    border-top: 0;
    border-left: 2px solid black;
}

.buttons-header {
    width: 10%;
}

.product-output-result {
    vertical-align: middle;
    font-size: medium;
    color: black;
}

.product-output-result:hover, .product-output-result:focus {
    color: #d9534f;
    text-decoration: none;
}

.product-output-snippet {
    text-align: left;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    text-align: left;
    vertical-align: middle;
    border: 2px solid #d9534f;
    border-collapse: collapse;
}

.table td + td {
    text-align: right;
    border-left: none;
}

.paginator {
    text-align: right;
}

.selected span {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.selected span :hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.paginator-btn {
    background-color: #31b0d5;
    border-color: #269abc;
    color: white;
}

.paginator-btn:hover {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}

.paginator-dropdown {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.paginator-dropdown:hover, .paginator-dropdown:active, .paginator-dropdown:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
