
body {

    background: url("#{resource['images/side-business-grow.jpg']}") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-image: url("#{resource['images/side-business-grow.jpg']}");*/
    padding: 0;
    margin: 0;
    text-align: center;
}

.wrapper {
    min-width: 500px;
    min-height: 500px;
    height: 850px;
    width: 45%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgba(186, 186, 186, 0.52);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    background-color: #d9534f;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header-label {
    margin-top: 25%;
    color: white;
    font-size: 225%;
}

.search-table {
    height: 15%;
    width: 100%;
    text-align: right;
    border: 2px solid #d9534f;
    border-top-width: 0px;
}

.search-panel-grid {
    border-width: 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.grid-output-label {
    font-size: large;
}

.buttons-div {
    width: 100%;
    margin-top: 2%;
    position: relative;
    text-align: right;
}

.command-button {
    height: 40px;
    width: 80px;
}
.collapsible-panel-header {
    text-align: right;
    border: 2px solid #d9534f;
    width: 100%;
    height: 8%;
    display: table-cell;
    vertical-align: middle;
}
.collapsible-panel-img{
    margin-right: 1%;
}
.output-table{
    margin-top: 10%;
}
.messages-output-header {
    color: white;
    height: 45px;
    background-color: #d9534f;
    text-align: center;
}
.id-header{
   width:20%;
}
.messages-output-table{
    border-color: #d9534f;
    border-collapse: collapse;
    height: 400px;
    margin-bottom: 0px;
}
.snippet-header{
    text-align: left;
    border-top: 0;
    border-left: 2px solid black;
}
.product-output-result{
    vertical-align: middle;
}
.product-output-snippet{
    text-align: left;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    text-align: left;
    vertical-align: middle;
    border: 2px solid #d9534f;
    border-collapse: collapse;
}
.paginator{
    text-align: right;
}
.selected{

}
.paginator-btn{

}